[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
werkzeug = "*"
numpy = "*"
mysql = "*"
wtforms = "*"
email-validator = "*"
arrow = "*"

[dev-packages]

[requires]
python_version = "3.8"
