/* 页面整体 */
body {
    margin: auto;
    max-width: 580px;
    font-size: 14px;
    font-family: Helvetica, Arial, sans-serif;
}

/* 头像 */
.Yoga {
    width: 40px;
}

/* 导航栏 */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 8px 12px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #111;
}

/* 提醒 */
.alert {
    position: relative;
    padding: 7px;
    margin: 7px 0;
    border: 1px solid transparent;
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
    border-radius: 5px;
}

input[type=submit] {
    font-family: inherit;
}

input[type=text] {
    border: 1px solid #ddd;
}

input[name=year] {
    width: 50px;
}

.btn {
    font-size: 12px;
    padding: 3px 5px;
    text-decoration: none;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 1px solid #555555;
    border-radius: 5px;
}

.btn:hover {
    text-decoration: none;
    background-color: black;
    color: white;
    border: 1px solid black;
}

/* 列表 */
.list {
    list-style-type: none;
    padding: 0;
    margin-bottom: 10px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.list li {
    padding: 12px 24px;
    border-bottom: 1px solid #ddd;
}

.list li:last-child {
    border-bottom: none;
}

.list li:hover {
    background-color: #f8f9fa;
}

.float-right {
    float: right;
}

.inline-form {
    display: inline;
}

/* 表格 */
table.gridtable {
    width: 100%;
    margin-bottom: 10px;
    caption-side: top;
    line-height: 50px;
    border-collapse: collapse;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

table.gridtable tr {
    width: 100%;
    padding: 12px 24px;
    border-bottom: 1px solid #ddd;
}

table.gridtable tr:last-child {
    border-bottom: none;
}

table.gridtable tr:hover {
    background-color: #f8f9fa;
}

.yellow_button {
    font-size: 12px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    background: #F5C518;
    border-radius: 5px;
    padding: 3px 5px;
}

/* 龙猫图片 */
.totoro {
    display: block;
    margin: 0 auto;
    height: 100px;
}

/* 页脚 */
footer {
    color: #888;
    margin-top: 180px;
    text-align: center;
    padding: 10px;
}


.wrap {
    margin-top: 100px;
    width: 414px;
    height: 250px;
    border: solid rgb(238, 238, 238) 2px;
    background-color: white;
    /*margin: 0px auto;*/
}

.wrap .title {
    margin-top: 15px;
    margin-bottom: 16px;
    font-size: 20px;
    color: rgb(51, 51, 51);
    text-align: center; /*居中*/

}

.wrap .infor {
    text-align: center;
    color: #666;
    font-size: 16px;
    margin-bottom: 36px;

}

.wrap .infor a {
    text-decoration: none;
    color: #3481cf;
}

.wrap #form {
    text-align: center;
    height: 150px;
    width: 272px;
    margin: 0px auto;

}

.wrap #form .input {
    height: 38px;
    width: 268px;
    box-sizing: border-box;
    padding: 10px;
    padding-right: 0px;
    margin-bottom: 17px;
    border-radius: 3px;
    border: solid black 1px;
}


.login_btn {
    border-radius: 3px;
    height: 37px;
    width: 258px;
    padding: 1px 7px 2px 7px;
    box-sizing: content-box;
    border: none;
    background-color: black;
    color: white;
    font-size: 17px;
}

.login_btn:hover {
    text-decoration: none;
    background-color: black;
    color: white;
    border: 1px solid black;
}

.big_wrap {
    margin-top: 50px;
    width: 414px;
    height: 900px;
    border: solid rgb(238, 238, 238) 2px;
    background-color: white;
    /*margin: 0px auto;*/
}

.big_wrap .title {
    margin-top: 20px;
    margin-bottom: 16px;
    font-size: 20px;
    color: rgb(51, 51, 51);
    text-align: center; /*居中*/

}

.big_wrap .infor {
    text-align: center;
    color: #666;
    font-size: 10px;
    margin-top: -16px;
    margin-bottom: 10px;
}

.big_wrap .infor a {
    text-decoration: none;
    color: #3481cf;
}

.big_wrap #form {
    text-align: center;
    height: 150px;
    width: 272px;
    margin: 0px auto;

}

.big_wrap #form .input {
    height: 38px;
    width: 268px;
    box-sizing: border-box;
    padding: 10px;
    padding-right: 0px;
    margin-bottom: 17px;
    border-radius: 3px;
    border: solid black 1px;
}

.delete_btn {
    font-size: 12px;
    padding: 3px 5px;
    text-decoration: none;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 1px solid #555555;
    border-radius: 5px;
}

.delete_btn:hover {
    text-decoration: none;
    background-color: orangered;
    color: white;
    border: 1px solid orangered;
}