{% extends 'base.html' %}

{% block content %}
    <nav>
        <ul>
            <li><a href="{{ url_for('index_employee',username=username) }}">支行信息</a></li>
            <li><a href="{{ url_for('customer_info_employee',username=username) }}">客户管理</a></li>
            <li>
                <div class="dropdown">
                    <a href="#" class="dropbtn">账户管理</a>
                    <div class="dropdown-content">
                        <a href="{{ url_for('deposit_account_employee', username=username) }}">储蓄账户管理</a>
                        <a href="{{ url_for('check_account_employee', username=username) }}">支票账户管理</a>
                    </div>
                </div>
            </li>
            <li><a href="{{ url_for('info_employee',username=username) }}">我的信息</a></li>
            <li><a href="{{ url_for('loan_employee',username=username) }}">贷款管理</a></li>
            <li><a href="{{ url_for('info_employee',username=username) }}">业务统计</a></li>
            <li><a href="{{ url_for('logout', username=username) }}">登出</a></li>
        </ul>
    </nav>
    <p style="font-size:20px;font-weight: bold; margin-top: 10px">变更透支额</p>
    <small><p style="color: gray;margin-top: -20px;margin-bottom: 20px"> 在下面的输入栏输入变更后的透支额</p>
    </small>

    <form method="post">
        <input type="text" class="input" placeholder="要求比当前透支金额大" name="new_overdraft" required/>

        <input class="btn" type="submit" name="submit" value="提交">
    </form>


{% endblock %}
