{% extends 'base.html' %}

{% block content %}
<nav>
    <ul>
        <li><a href="{{ url_for('index_customer', username=username) }}">支行信息</a></li>
        <li><a href="{{ url_for('info_customer', username=username) }}">个人信息</a></li>
        <li>
            <div class="dropdown">
            <a href="#" class="dropbtn">账户管理</a>
            <div class="dropdown-content">
                <a href="{{ url_for('deposit_account_customer', username=username) }}">储蓄账户</a>
                <a href="{{ url_for('check_account_customer', username=username) }}">支票账户</a>
            </div>
        </div>
        </li>

        <li>
                <div class="dropdown">
                    <a href="#" class="dropbtn">贷款业务</a>
                    <div class="dropdown-content">
                        <a href="{{ url_for('loan_customer_info', username=username) }}">当前贷款</a>
                        <a href="{{ url_for('loan_request_customer', username=username) }}">发起贷款</a>
                    </div>
                </div>
            </li>
        <li><a href="{{ url_for('employee_relate_customer',username=username) }}">关联员工</a></li>
        <li><a href="{{ url_for('logout', username=username) }}">登出</a></li>
    </ul>
</nav>
<p style="font-size:20px;font-weight: bold; margin-top: 10px">修改登录密码</p>
<small><p style="color: gray;margin-top: -20px;margin-bottom: 20px"> 密码格式要求为5到12位，丢失无法找回，请妥善保存</p></small>
<form method="post">
    <input type="text" class="input" placeholder="请输入旧密码" name="old_password" required/>
    <input type="password" class="input" placeholder="请输入新密码" name="new_password" required/>
    <input type="password" class="input" placeholder="请重复新密码" name="rep_password" required/>

    <input class="btn" type="submit" name="submit" value="提交">
</form>

{% endblock %}