{% extends 'base.html' %}

{% block content %}
    <nav>
        <ul>
            <li><a href="{{ url_for('index_customer', username=username) }}">支行信息</a></li>
            <li><a href="{{ url_for('info_customer', username=username) }}">个人信息</a></li>
            <li>
                <div class="dropdown">
                    <a href="#" class="dropbtn">账户管理</a>
                    <div class="dropdown-content">
                        <a href="{{ url_for('deposit_account_customer', username=username) }}">储蓄账户</a>
                        <a href="{{ url_for('check_account_customer', username=username) }}">支票账户</a>
                    </div>
                </div>
            </li>

            <li>
                <div class="dropdown">
                    <a href="#" class="dropbtn">贷款业务</a>
                    <div class="dropdown-content">
                        <a href="{{ url_for('loan_customer_info', username=username) }}">当前贷款</a>
                        <a href="{{ url_for('loan_request_customer', username=username) }}">发起贷款</a>
                    </div>
                </div>
            </li>
            <li><a href="{{ url_for('employee_relate_customer',username=username) }}">关联员工</a></li>
            <li><a href="{{ url_for('logout', username=username) }}">登出</a></li>
        </ul>
    </nav>

    <p style="font-size:20px;font-weight: bolder; margin-top: 10px">关联员工</p>
    <small>
        <p style="color: gray;margin-top: -20px;margin-bottom: 20px">
            在这个页面您可以<strong>查看和更换</strong>各项业务中“已经与您建立联系”的负责员工
        </p>
    </small>


    <table class="gridtable">
        <tr>
            <th>姓名</th>
            <th>电话号码</th>
            <th>职位</th>
            <th>所属支行</th>
            <th>服务类型</th>
            <th>&nbsp;</th>
        </tr>
        {% for relation in relation_list %}
            <tr>
                <td>
                    <center>{{ relation[2] }}</center>
                </td>
                <td>
                    <center>{{ relation[3] }}</center>
                </td>
                <td>
                    <center>{{ relation[5] }}</center>
                </td>
                <td>
                    <center>{{ relation[6] }}</center>
                </td>
                <td>
                    <center>{{ relation[4] }}</center>
                </td>
                <td>
                    <a class="btn"
                       href="{{ url_for('employee_relate_customer_change',
                       username=username, bank=relation[6], service_type=relation[4],
                               user_id = relation[0], old_employee = relation[1]) }}">
                        更改
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
