{% extends 'base.html' %}

{% block content %}
    <nav>
        <ul>
            <li><a href="{{ url_for('index_employee',username=username) }}">支行信息</a></li>
            <li><a href="{{ url_for('customer_info_employee',username=username) }}">客户管理</a></li>
            <li>
                <div class="dropdown">
                    <a href="#" class="dropbtn">账户管理</a>
                    <div class="dropdown-content">
                        <a href="{{ url_for('deposit_account_employee', username=username) }}">储蓄账户管理</a>
                        <a href="{{ url_for('check_account_employee', username=username) }}">支票账户管理</a>
                    </div>
                </div>
            </li>
            <li><a href="{{ url_for('info_employee',username=username) }}">我的信息</a></li>
            <li><a href="{{ url_for('loan_employee',username=username) }}">贷款管理</a></li>
            <li><a href="{{ url_for('statistics',username=username) }}">业务统计</a></li>
            <li><a href="{{ url_for('logout', username=username) }}">登出</a></li>
        </ul>
    </nav>
    <p style="font-size:20px;font-weight: bold; margin-top: 10px">支行列表</p>
    <small><p style="color: gray;margin-top: -20px;margin-bottom: 20px"> 点击"详情"查看支行员工 （ps:
        本系统未实现银行资产的自动变更，要多少就有多少💰和💴（bushi）</p></small>
    <ul class="list">
        {% for bank in bank_list %}
            <li>{{ bank[0] }} - 当前资产 ￥{{ bank[1] }}
                <span class="float-right">
            <a class="yellow_button" href="{{ url_for('sub_bank',bank_name=bank[0]) }}" target="_blank">详情</a>
        </span>
            </li>

        {% endfor %}
    </ul>

{% endblock %}
