{% extends 'base.html' %}

{% block content %}
<nav>
    <ul>
        <li><a href="{{ url_for('index_employee',username=username) }}">支行信息</a></li>
        <li><a href="{{ url_for('index') }}">客户信息</a></li>
        <li><a href="{{ url_for('index') }}">客户账户</a></li>
        <li><a href="{{ url_for('info_employee',username=username) }}">我的信息</a></li>
        <li><a href="{{ url_for('index') }}">贷款管理</a></li>
        <li><a href="{{ url_for('index') }}">业务统计</a></li>
        <li><a href="{{ url_for('logout') }}">登出</a></li>
    </ul>
</nav>
<p style="font-size:20px;font-weight: bold; margin-top: 10px">个人信息</p>
<small><p style="color: gray;margin-top: -20px;margin-bottom: 20px"> 点击"编辑"修改条目</p></small>
<table class="gridtable">
    <tr>
        <th>身份证号</th>
        <td>{{ employee_data[0] }}</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <th>所属部门</th>
        <td>{{ employee_data[1] }} - {{ department[2] }}</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <th>所属支行</th>
        <td>{{ department[1] }}</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <th>职位</th>
        <td>{{ employee_data[8] }}</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <th>姓名</th>
        <td>{{ employee_data[2] }}</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <th>联系电话</th>
        <td>{{ employee_data[3] }}</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <th>地址</th>
        <td>{{ employee_data[4] }}</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <th>入职日期</th>
        <td>{{ employee_data[5] }}</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <th>用户名</th>
        <td>{{ employee_data[6] }}</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <th>密码</th>
        <td>******</td>
        <td><a class="btn" href="{{ url_for('edit_employee_password', username=username) }}">修改密码</a></td>
    </tr>
</table>

{% endblock %}
