{% extends 'base.html' %}

{% block content %}
    <nav>
        <ul>
            <li><a href="{{ url_for('index_employee',username=username) }}">支行信息</a></li>
            <li><a href="{{ url_for('customer_info_employee',username=username) }}">客户管理</a></li>
            <li>
                <div class="dropdown">
                    <a href="#" class="dropbtn">账户管理</a>
                    <div class="dropdown-content">
                        <a href="{{ url_for('deposit_account_employee', username=username) }}">储蓄账户管理</a>
                        <a href="{{ url_for('check_account_employee', username=username) }}">支票账户管理</a>
                    </div>
                </div>
            </li>
            <li><a href="{{ url_for('info_employee',username=username) }}">我的信息</a></li>
            <li><a href="{{ url_for('loan_employee',username=username) }}">贷款管理</a></li>
            <li><a href="{{ url_for('info_employee',username=username) }}">业务统计</a></li>
            <li><a href="{{ url_for('logout', username=username) }}">登出</a></li>
        </ul>
    </nav>
    <p style="font-size:20px;font-weight: bold; margin-top: 10px">贷款业务信息</p>
    <small><p style="color: gray;margin-top: -20px;margin-bottom: 20px"> 可通过姓名、开户行和发放状态查询符合条件的贷款客户，同时显示与结果共用贷款的客户</p>
    </small>

    <div style="margin-bottom: 20px">
        <form class="inline-form" method="post">
            姓名 <input type="text" class="input" name="name"/>
            &nbsp;
            开户行
            <select id="bank" name="bank" required>
                <option value=-1>任意</option>
                {% for bank in bank_list %}
                    <option value="{{ bank }}">{{ bank }}</option>
                {% endfor %}
            </select>
            &nbsp;
            发放状态
            <select id="status" name="status" required>
                <option value=-1>任意</option>
                <option value=0>未发放</option>
                <option value=1>发放中</option>
                <option value=2>发放完成</option>
            </select>
            &nbsp;
            <input class="btn" type="submit" name="submit" value="查询">
        </form>
    </div>

    <table class="gridtable">
        <tr>
            <th>贷款号</th>
            <th>身份证号</th>
            <th>姓名</th>
            <th>开户行</th>
            <th>贷款金额</th>
            <th>发放状态</th>
            <th>已发放金额</th>
            <th>&nbsp;</th>
        </tr>
        {% for loan in loan_list %}
            <tr>
                <td>
                    <center>{{ loan[0] }}</center>
                </td>
                <td>
                    <center>{{ loan[1] }}</center>
                </td>
                <td>
                    <center>{{ loan[2] }}</center>
                </td>
                <td>
                    <center>{{ loan[3] }}</center>
                </td>
                <td>
                    <center>{{ loan[4] }}</center>
                </td>
                <td>
                    <center>{{ show_loan_status[loan[5]] }}</center>
                </td>
                <td>
                    <center>{{ loan[6] }}</center>
                </td>
                <td>
                    <center>
                        {% if loan[5] != 2 %}
                            <a class="btn" href="{{ url_for("pay_loan",
                        username=username,loan_id=loan[0],loan_money=loan[4],payed_money=loan[6],status=loan[5]) }}">
                                发放贷款</a>
                        {% else %}
                            &nbsp;
                        {% endif %}
                    </center>
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
