{% extends 'base.html' %}

{% block content %}

    <nav>
        <ul>
            <li><a href="{{ url_for('index_customer', username=username) }}">支行信息</a></li>
            <li><a href="{{ url_for('info_customer', username=username) }}">个人信息</a></li>
            <li>
                <div class="dropdown">
                    <a href="#" class="dropbtn">账户管理</a>
                    <div class="dropdown-content">
                        <a href="{{ url_for('deposit_account_customer', username=username) }}">储蓄账户</a>
                        <a href="{{ url_for('check_account_customer', username=username) }}">支票账户</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="dropdown">
                    <a href="#" class="dropbtn">贷款业务</a>
                    <div class="dropdown-content">
                        <a href="{{ url_for('loan_customer_info', username=username) }}">当前贷款</a>
                        <a href="{{ url_for('loan_request_customer', username=username) }}">发起贷款</a>
                    </div>
                </div>
            </li>
            <li><a href="{{ url_for('employee_relate_customer',username=username) }}">关联员工</a></li>
            <li><a href="{{ url_for('logout', username=username) }}">登出</a></li>
        </ul>
    </nav>

    <p style="font-size:20px;font-weight: bolder; margin-top: 10px">贷款业务 - 选择负责员工</p>
    <small>
        <p style="color: gray;margin-top: -20px;margin-bottom: 20px">
            由于您没有在该支行办理过贷款业务，需要选定一位员工作您的贷款业务负责人
        </p>
    </small>

    <p style="text-align: center; font-size: 15px; font-weight: bolder; color: #333">
        {{ bank }}
    </p>
    <table class="gridtable">
    <tr>
        <th>姓名</th>
        <th>电话号码</th>
        <th>工作岗位</th>
        <th>&nbsp;</th>
    </tr>
    {% for employee in employee_list %}
    <tr>
        <td><center>{{ employee[0] }}</center></td>
        <td><center>{{ employee[1] }}</center></td>
        <td><center>{{ employee[2] }}</center></td>
        <td><center><a class="btn"
               href="{{ url_for('loan_add_employee_customer', username=username, employee=employee[3]) }}">选定</a>
        </center></td>
    </tr>
    {% endfor %}
    </table>

{% endblock %}


