{% extends 'base.html' %}

{% block content %}

    <nav>
        <ul>
            <li><a href="{{ url_for('index_customer', username=username) }}">支行信息</a></li>
            <li><a href="{{ url_for('info_customer', username=username) }}">个人信息</a></li>
            <li>
                <div class="dropdown">
                    <a href="#" class="dropbtn">账户管理</a>
                    <div class="dropdown-content">
                        <a href="{{ url_for('deposit_account_customer', username=username) }}">储蓄账户</a>
                        <a href="{{ url_for('check_account_customer', username=username) }}">支票账户</a>
                    </div>
                </div>
            </li>
            <li><a href="{{ url_for('index') }}">贷款管理</a></li>
            <li><a href="{{ url_for('logout', username=username) }}">登出</a></li>
        </ul>
    </nav>

    <p style="font-size:20px;font-weight: bolder; margin-top: 10px">储蓄账户 - 开户</p>
    <small>
        <p style="color: gray;margin-top: -20px;margin-bottom: 20px">
            您需要绑定一位员工作为您的储蓄账户负责人，初始利率为0.03，可以联系员工修改
        </p>
    </small>

    <div style="">

    </div>

    <p style="text-align: center; font-size: 15px; font-weight: bolder; color: #333">
        可开户的支行 - 员工列表
    </p>
    {% for bank in option_bank_list %}
        <p style="font-size:15px;font-weight: bolder; margin-top: 10px">{{ bank }}</p>
        <table class="gridtable">
            <tr>
                <th>姓名</th>
                <th>电话号码</th>
                <th>职位</th>
                <th>&nbsp;</th>
            </tr>
            {% for employee in employee_dict[bank] %}
                <tr>
                    <td>
                        <center>{{ employee[0] }}</center>
                    </td>
                    <td>
                        <center>{{ employee[1] }}</center>
                    </td>
                    <td>
                        <center>{{ employee[2] }}</center>
                    </td>
                    <td>
                        <center>
                            <a class="btn"
                               href="{{ url_for('build_deposit_account',
                               username=username, employee=employee[0], bank=bank, currency_type=currency_type) }}">
                                选择
                            </a>
                        </center>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endfor %}


{% endblock %}


