{% extends 'base.html' %}

{% block content %}
<nav>
    <ul>

    </ul>
</nav>

<p style="font-size:20px;font-weight: bolder; margin-top: 10px">{{bank_name}} - {{ employee_list|length }} 名员工</p>
    <small>
        <p style="color: gray;margin-top: -20px;margin-bottom: 20px">
            客服部负责贷款业务，营销部负责账户业务
        </p>
    </small>

<table class="gridtable">

    <tr>
        <th>姓名</th>
        <th>部门</th>
        <th>电话号码</th>
        <th>工作岗位</th>
    </tr>
    {% for employee in employee_list %}
    <tr>
        <td><center>{{employee[0]}}</center></td>
        <td><center>{{employee[1]}}</center></td>
        <td><center>{{employee[2]}}</center></td>
        <td><center>{{employee[3]}}</center></td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
